body {
  padding: 50px;
  font-family: 'Fjalla One', sans-serif;
}

a {
  color: black ;
}
.first{
  background-image: url('https://i.imgur.com/kyKs0A4.jpg');
  height: 100vmin; 
  background-position: center;
  background-size: cover;
}
nav {
  display: flex;
  justify-content:space-around;
  list-style-type: none;
   margin: 0;
   overflow: hidden;
   display: flex;
   justify-content:space-around;
   padding: 20px;
   font-size: 20px;
   background-color: rgb(255,255,130,0.5);
}
.three{background-image: url(' https://i.imgur.com/ryIBVVj.jpg');
  height: 100vmin; 
  background-position: center;
  background-size: cover;
 
}
.second{
  background-image: url('https://i.imgur.com/VwANr8I.jpg');
  height: 100vmin; 
  background-position: center;
  background-size: cover;
}
section{
  margin:15px;
  padding:40px;
  background-color:  rgb(255,255,130,0.5);
}
.submit{
  margin :20px;
  padding: 20px;
}
tr{
  display: flex;
  justify-content:space-around;
  list-style-type: none;
   margin: 0;
   overflow: hidden;
   display: flex;
   justify-content:space-around;
   padding: 20px;
   background-color:  rgb(255,255,130,0.5);
}
td{
  display: flex;
  justify-content:space-around;
  list-style-type: none;
   margin: 0;
   overflow: hidden;
   display: flex;
   justify-content:space-around;
   padding: 20px;
   
}
.four{
  background-image: url('https://i.imgur.com/bOSyhzn.jpg');
  height: 100vmin; 
  background-position: center;
  background-size: cover;
}
button{
  border-top: 1px solid #96d1f8;
  background: #65d668;
  background: -webkit-gradient(linear, left top, left bottom, from(#439c3e), to(#65d668));
  background: -webkit-linear-gradient(top, #439c3e, #65d668);
  background: -moz-linear-gradient(top, #439c3e, #65d668);
  background: -ms-linear-gradient(top, #439c3e, #65d668);
  background: -o-linear-gradient(top, #439c3e, #65d668);
  padding: 6.5px 13px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 15px;
  font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;
  }
.button:hover {
  border-top-color: #28597a;
  background: #28597a;
  color: #ccc;
  }
.button:active {
  border-top-color: #1b435e;
  background: #1b435e;
  }
